.ourTestimonials {
    .cardsTestimoials {
        width: 100%;
        position: relative;
        align-items: center;
        flex-direction: column;
        .cards {
            width: 90%;
            overflow: hidden;
            .slides {
                display: flex            ;
                justify-content: start;
                width: 100%;
                gap: 30px;
                transition: transform 0.5s ease-in-out;
                padding-bottom: 10px;
            }
        }

        margin-top: 100px;
        display: flex;
        justify-content: center;
        gap: 85px;
        position: relative;
        .arrows {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translatey(-50%);
            display: flex;
            justify-content: space-between;
            button  {
                width: 48px;
                height: 48px;
                background-color: white;
                border: 2px solid #333333;
                border-radius: 8px;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .ourTestimonials {
        .cardsTestimoials {
            margin-top: 80px;
            gap: 60px;
        }
    }
}

@media screen and (max-width: 992px) {
    .ourTestimonials {
        .cardsTestimoials {
            min-height: 280px;
            overflow-y: hidden;
            overflow: visible;
            margin-top: 80px;
            gap: 30px;
            .arrows {
                transform: translateY(360%);
                width: 50%;
            }
        }
    }
}