.studentLearn {
    .cardsStudent {
        display: flex;
        justify-content: space-between;
        row-gap: 50px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1440px) {
    .studentLearn {
        .cardsStudent {
            row-gap: 40px;
        }
    }
}