.Navigate {
    .cardsNavigate {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 50px;
    }
}

@media screen and (max-width: 1440px) {
    .Navigate {
        .cardsNavigate {
            margin-top: 80px;
            gap: 40px;
        }
    }
}

@media screen and (max-width: 992px) {
    .Navigate {
        .cardsNavigate {
            margin-top: 50px;
        }
    }
}