@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:wght@100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: "Outfit", sans-serif; */
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #FFF5F0;
}

.whiteSpace {
  padding-bottom: 200px;
}

.conatiner {
  width: 82.8125vw;
  margin: auto;
}

@media screen and (max-width: 1440px) {
  .whiteSpace {
    padding-bottom: 150px;
  }
}

@media screen and (max-width: 992px) {
  .whiteSpace {
    padding-bottom: 80px;
  }
}